<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-auto ml-lg-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="https://github.com/nioperas06/crypto-list" target="_blank" class="btn btn-outline-primary btn-sm">code Source</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                Built with <a href="https://angular.io/">Angular</a>
            </div>
        </div>
    </div>
</footer>