<app-header></app-header>
<div class="container" style="padding-top: 50px">
    <section class="section section-action">
        <div class="container">
            <h2 class="section-title">Les crypto-monnaies pour tous</h2>
            <p class="section-description">
                Tracker et suivez en live les valeurs des 10 premières crypto-monnaies <b>gratuitement!</b> </p>
            <div class="mt-4">
                <a href="https://github.com/nioperas06/crypto-list" class="btn" target="_blank" style="background-color: #1ABC9C; color: #fff">Code Source</a>
            </div>
        </div>
    </section>

    <div class="row row-cards row-deck" style="padding-top: 50px">
        <div class="col-12">
            <div class="row align-items-center" style="height: 100px; background-color: #1ABC9C; text-align: center; margin-left: 2px; margin-right: 2px" *ngIf="loading">
                <div class="col">
                    <img src="/assets/svg-loaders/ball-triangle.svg" width="60" />
                </div>
            </div>
            <div class="card table-responsive" *ngIf="!loading">
                <table class="table card-table table-vcenter text-nowrap">
                    <thead>
                        <tr>
                            <th class="w-1">Rang</th>
                            <th>Nom</th>
                            <th>Symbole</th>
                            <th>Prix (USD)</th>
                            <th>Prix (BTC)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let crypto of cryptocurrencies">
                            <td><span class="text-muted">{{ crypto.rank }}</span></td>
                            <td><a href="#" class="text-inherit">{{ crypto.name }} </a></td>
                            <td>
                                {{ crypto.symbol }}
                            </td>
                            <td>
                                {{ crypto.price_usd }}
                            </td>
                            <td>
                                {{ crypto.price_btc }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>